<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/chat.css?version=2" />
        <script src="static/chat.js?version=2" defer></script>
        <title>Group Chat</title>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="static/images/logo.svg" />
                <h2><a href="/">Messenger</a></h2>
            </div>
            <div class="profile">
                <img src="static/images/default-profile-photo.jpeg" />
                <span id="username">{{username}}</span>
            </div>
        </div>

        <div class="main-area">
            <div class="users">
                <h3>All users</h3>
                {% for user in users %}
                <div id="user" class="side-panel user">
                    <img src="static/images/default-profile-photo.jpeg" />
                    <span id="username">{{user}}</span>
                </div>
                {% endfor %}
            </div>

            <div class="chat-interface">
                <div class="receiver-container">
                    <h1 id="receiver" class="receiver"></h1>
                </div>
                <div id="chat-area" class="chat-area"></div>
                <div class="type-message">
                    <input
                        id="message-input"
                        class="message-input"
                        type="text"
                        name="message"
                    />
                    <button
                        id="submit-btn"
                        class="form-btn"
                        onclick="sendMessage(event)"
                    >
                        send
                    </button>

                    <button
                        id="clear-chat"
                        class="form-btn"
                        onclick="clearChat()"
                    >
                        Clear chat
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
