<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat App</title>
        <style>
            * {
                font-family: "Courier New", Courier, monospace;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>{{response}}</h1>
            <h1><a href="/"> Sign In / Sign Up </a></h1>
        </div>
    </body>
    <script></script>
</html>
